* {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
}

#root {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

#root h1 {
   text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f;
}

.container {
   width: 70%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.box {
   height: 100%;
}

.form {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.ContainerList {
   height: auto;
   width: 50%;
}

.ContainerList h2, .ContainerListDone h2 {
   text-align: center;
   color: #000;
}

